HELP.md
/target/
/**/target/
/**/classes/
/**/.flattened-pom.xml
!.mvn/wrapper/maven-wrapper.jar


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

#.mvn/
#mvnw
#mvnw.cmd
logs/

out/
.DS_Store
venv/
/**/application-database.yml
/**/application-oracle.properties
/**/bak/application-database.yml.bak
/**/application-redis.properties
/**/application-database.properties
/**/application-rabbit.properties
