<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emily.infrastructure.test.mapper.TwoDbMapper">
    <select id="getTwoDb" resultType="java.lang.String">
		SELECT 'mysql' FROM DUAL
    </select>

</mapper>