<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emily.infrastructure.sample.web.mapper.mysql.MysqlMapper">
    <select id="findLocks" resultType="java.lang.String">
        SELECT qjd.LOCK_NAME
        FROM QUARTZ_LOCKS qjd
        WHERE qjd.LOCK_NAME = #{lockName}
    </select>
    <delete id="delLocks">
        DELETE
        FROM QUARTZ_LOCKS ql
        WHERE ql.LOCK_NAME = #{lockName}
    </delete>

    <select id="getMysql" resultType="com.emily.infrastructure.sample.web.entity.World">
        SELECT *
        FROM world w
        where w.username = #{username}
          and w.password = #{password}
    </select>

    <insert id="insertMysql" parameterType="java.lang.String">
        INSERT INTO world(username, password, insert_time, update_time)
        VALUES (#{username}, #{password}, now(), now())
    </insert>

    <select id="getMapperIgnore" resultType="com.emily.infrastructure.sample.web.entity.sensitive.MapperIgnore">
        SELECT *
        FROM sgrain.endpoint_relation_sla ers
        WHERE ers.id = '20220825_VXNlcg==.0-VXNlcg==-ZGVtb3NreXdhbGtpbmc=.1-R0VUOi9hcGkvcmVkaXMvZ2V0MQ=='
    </select>
</mapper>