<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emily.infrastructure.test.mapper.ChildMapper">
	<resultMap id="jobMap" type="com.emily.infrastructure.test.po.Job">
		<id column="ID" property="id"/>
		<result column="ID" property="id"/>
		<result column="job_group" property="jobNumber"/>
		<result column="JOB_DESC" property="jobDesc"/>
	</resultMap>
	<select id="getJob" resultMap="jobMap">
		SELECT ID,job_group,JOB_DESC FROM ZQSMCONF.xxl_job_qrtz_trigger_info WHERE ID=213000019805096805
    </select>

</mapper>