<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE >ALL -->
<configuration>
    <!-- name的值是变量的名称，value的值时变量定义的值。通过定义的值会被插入到logger上下文中。定义变量后，可以使“${}”来使用变量。 -->
    <property name="log.path" value="./logs" />
    <!--日志系统有效期（天）-->
    <property name="log.date" value="30" />
    <!--日志输出pattern-->
    <property name="pattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-10.10thread] [%-5level] [%-36.36logger{36}:%-4.4line] : %msg%n"></property>
    <!--公司日志系统模式-日志输出pattern-->
    <property name="patternMsg" value="%msg%n"></property>
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- 日志过滤级别 -->
            <level>INFO</level>
        </filter>
        <encoder>
            <!-- 格式化输出 -->
            <pattern>${pattern}</pattern>
            <!-- 输出编码 -->
            <charset>utf8</charset>
        </encoder>
    </appender>
    <!-- INFO日志文件输出 -->
    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 日志过滤级别 -->
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <!-- 格式化输出 -->
            <pattern>${pattern}</pattern>
            <!-- 输出编码 -->
            <charset>utf8</charset>
        </encoder>
        <!-- 文件存放路径 -->
        <file>${log.path}/info/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每天归档 -->
            <fileNamePattern>${log.path}/info/info.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志存放周期（天） -->
            <maxHistory>${log.date}</maxHistory>
        </rollingPolicy>
    </appender>
    <!-- TRACE日志文件输出 -->
    <appender name="TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="com.yaomy.control.logback.filter.EnhanceLevelFilter">
            <!-- 日志过滤级别 -->
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <!-- 格式化输出 -->
            <pattern>${patternMsg}</pattern>
            <!-- 输出编码 -->
            <charset>utf8</charset>
        </encoder>
        <!-- 文件存放路径 -->
        <file>${log.path}/user/user_action.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每天归档 -->
            <fileNamePattern>${log.path}/user/user_action.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志存放周期（天） -->
            <maxHistory>${log.date}</maxHistory>
        </rollingPolicy>
    </appender>
    <!-- ERROR日志文件输出 -->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 日志过滤级别 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <!-- 格式化输出 -->
            <pattern>${pattern}</pattern>
            <!-- 输出编码 -->
            <charset>utf8</charset>
        </encoder>
        <!-- 文件存放路径 -->
        <file>${log.path}/error/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每天归档 -->
            <fileNamePattern>${log.path}/error/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志存放周期（天） -->
            <maxHistory>${log.date}</maxHistory>
        </rollingPolicy>
    </appender>
    <!-- WARN日志文件输出 -->
    <appender name="WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 日志过滤级别 -->
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <!-- 格式化输出 -->
            <pattern>${pattern}</pattern>
            <!-- 输出编码 -->
            <charset>utf8</charset>
        </encoder>
        <!-- 文件存放路径 -->
        <file>${log.path}/warn/warn.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每天归档 -->
            <fileNamePattern>${log.path}/warn/warn.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志存放周期（天） -->
            <maxHistory>${log.date}</maxHistory>
        </rollingPolicy>
    </appender>
    <!-- DEBUG日志文件输出 -->
    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 日志过滤级别 -->
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <!-- 格式化输出 -->
            <pattern>${pattern}</pattern>
            <!-- 输出编码 -->
            <charset>utf8</charset>
        </encoder>
        <!-- 文件存放路径 -->
        <file>${log.path}/debug/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每天归档 -->
            <fileNamePattern>${log.path}/debug/debug.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志存放周期（天） -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>
    <!-- 基础日志输出级别,大于等于level,不过跟filter中的是冲突的，只有一个生效，默认filter优先级更高 -->
    <root level="TRACE">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ERROR"/>
        <appender-ref ref="WARN"/>
        <appender-ref ref="INFO"/>
        <appender-ref ref="DEBUG"/>
        <appender-ref ref="TRACE"/>
    </root>
</configuration>